<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- CSS for Styling -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- JavaScript for Interactivity -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <form id="add_module_form" action="add_module" role="form" method="post">
      <input type="text" id="username" name="username" style="display:none;">
      <input type="text" id="role" name="role" style="display:none;">
      <div class="form-group" id="div-mod-code">
        <label for="mod_code">Module Code</label>
        <input type="text" class="form-control" id="mod_code" name="mod_code" placeholder="Enter Module Code" required="required">
      </div>
      <div class="form-group" id="div-mod-name">
        <label for="mod_name">Module Name</label>
        <input type="text" class="form-control" id="mod_name" name="mod_name" placeholder="Enter Module Name" required="required">
      </div>
      <div class="form-group" id="div-sem">
        <label for="sem">Semester</label>
        <select class="form-control" id="sem" name="sem" required="required">
          <option value="" disabled="disabled" selected="selected">Select Semester</option>
          <option value="1">Semester 1</option>
          <option value="2">Semester 2</option>
        </select>
      </div>
      <!-- <div class="form-group" id="div-num-lectures">
        <label for="num_lectures">Lecture Slot No.</label>
        <select class="form-control" id="num_lectures" name="num_lectures" required="required" onchange="onChangeLectureSlots()">
          <option value="" disabled="disabled" selected="selected">Select Lecture Slot No.</option>
          <% for (var i=0; i<10; i++) { %>
          <option value="<%= i + 1%>"><%= i + 1%></option>
          <% } %>
        </select>
      </div> -->
      <div class="form-group">
        <label style="font-weight:bold;font-size:larger;">Lecture Slot Info</label>
        <div class="form-group" id="div-quota">
          <label for="quota">Quota</label>
          <input type="number" class="form-control" id="quota" name="quota" placeholder="Enter Quota" required="required">
        </div>
        <div class="form-group" id="div-day">
          <label for="day">Day</label>
          <select class="form-control" id="day" name="day" required="required">
            <option value="" disabled="disabled" selected="selected">Select Day</option>
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
          </select>
        </div>
        <div class="form-group" id="div-start-time">
          <label for="start_time">Start Time</label>
          <input type="time" class="form-control" id="start_time" name="start_time" required="required">
        </div>
        <div class="form-group" id="div-end-time">
          <label for="end_time">End Time</label>
          <input type="time" class="form-control" id="end_time" name="end_time" required="required">
        </div>
      </div>
      <div id="btn-submit">
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
      </div>
    </form>
    <script>
      document.getElementById('username').value = 
          sessionStorage.getItem('username');
      document.getElementById('role').value = 
          sessionStorage.getItem('role');
    </script>
    <script>
      (function() {
        window.addEventListener('load', function() {
          var forms = [document.getElementById('add_module_form')];
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', check, false);
          })
        });
      })();
    </script>
  </body>
</html>
