<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- CSS for Styling -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">

    <!-- JavaScript for Interactivity -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <form id="register_module_form" action="register_module" role="form" method="post">
      <div class="form-group" id="div-program">
        <label for="program">Program</label>
        <select class="form-control" id="program" name="program" required="required" onchange="onChangeRole()">
          <option value="" disabled="disabled" selected="selected">Select Program</option>
          <% for(var i=1; i<data.length; i++) { %>
            <option value="<%= data[i].prog_name%>"><%= data[i].prog_name%></option>
          <% } %>
          <!-- <option value="Program 1">Program 1</option>
          <option value="Program 2">Program 2</option>
          <option value="Program 3">Program 3</option> -->
        </select> 
      </div>
      <div class="form-group" id="div-module" style="display:block;">
        <label for="Module">Module</label>
        <select class="form-control" id="module" name="module" required="required">
          <option value="" disabled="disabled" selected="selected">Select Module</option>
          <!-- <option value="Module 1">Module 1</option>
          <option value="Module 2">Module 2</option>
          <option value="Module 3">Module 3</option> -->
        </select> 
      </div>
      <div class="form-group" id="div-lecture" style="display:block;">
        <label for="Lecture">Lecture Slot</label>
        <select class="form-control" id="lecture" name="lecture" required="required">
          <option value="" disabled="disabled" selected="selected">Select Lecture Slot</option>
          <!-- <option value="Lecture 1">Lecture 1</option>
          <option value="Lecture 2">Lecture 2</option>
          <option value="Lecture 3">Lecture 3</option> -->
        </select> 
      </div>
      <div class="form-group" id="div-modules-taken" style="display:none;">
        <label for="Modules">Modules Taken</label>
        <select multiple="multiple" class="form-control" id="modules_taken" name="modules_taken">
          <!-- <option value="" disabled="disabled" selected="selected">Select Modules Taken</option> -->
          <option value="CS1010">CS1010</option>
          <option value="CS1010J">CS1010J</option>
          <option value="ACC1701">ACC1701</option>
          <option value="CS2102">CS2102</option>
        </select> 
      </div>
      <div class="form-group" id="div-modules-set" style="display:none;">
        <label for="Modules">Modules Set</label>
        <select multiple="multiple" class="form-control" id="modules_set" name="modules_set">
          <!-- <option value="" disabled="disabled" selected="selected">Select Modules Set</option> -->
          <option value="CS1010">CS1010</option>
          <option value="CS1010J">CS1010J</option>
          <option value="ACC1701">ACC1701</option>
          <option value="CS2102">CS2102</option>
        </select> 
      </div>
      <div>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
      </div>
    </form>
    <div class="form-group"></div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary"
              onclick="window.location.href='dashboard_student'">Back to Home</button>
    </div>
    <div class="form-group">
      <form action="logout" role="form" method="post">
        <button type="submit" class="btn btn-primary">Logout</button>
      </form>
    </div>
    <script>
      function onChangeRole() {
        if (document.getElementById('role').value === 'Student' || document.getElementById('role').value === '') {
          // Hide
          document.getElementById('div-modules-set').style.display = "none";

          // Display
          document.getElementById('div-seniority').style.display = "block";
          document.getElementById('div-modules-taken').style.display = "block";

          // Compulsory to be Filled
          document.getElementById('seniority').required = "required";
        } 
        else if (document.getElementById('role').value === 'Admin') {
          // Hide
          document.getElementById('div-seniority').style.display = "none";
          document.getElementById('div-modules-taken').style.display = "none";

          // Display
          document.getElementById('div-modules-set').style.display = "block";

          // Not compulsory to be Filled
          document.getElementById('seniority').required = "";
        }
      }
    </script>
    <script>
      (function() {
        window.addEventListener('load', function() {
          var forms = [document.getElementById('register_module_form')];
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', check, false);
          })
        });
      })();
    </script>
  </body>
</html>
