<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title><%= title %></title>

  <!-- Custom styles for this template-->
  <link rel="stylesheet" href="/stylesheets/modrekt.min.css" >


  <!-- Custom fonts for this template-->
  <link rel="stylesheet" type="text/css" href="/stylesheets/all.min.css" >
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- JavaScript for Interactivity -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
          integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
          crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
          integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
          crossorigin="anonymous"></script>
</head>
<body>
<body class="bg-gradient-primary">

<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block img-responsive" style="background: url(img/regis_icon_1.png); background-repeat: no-repeat;">
            </div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                </div>



  <form id="register_form" action="register" role="form" method="post">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" name="username"
             placeholder="Enter your NUSNET username" required="required">
    </div>
    <div>
      <label id="username_invalid" name="username_invalid"
             style="display:none;color:red;font-style:italic;">Invalid username! Use your NUSNET username.</label>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password"
             placeholder="Enter your password" required="required">
    </div>
    <div>
      <label id="password_invalid" name="password_invalid" style="display:none;color:red;font-style:italic;">
        Invalid password! Password must have at least 10 characters.</label>
    </div>
    <div class="form-group">
      <label for="Role">Role</label>
      <select class="form-control" id="role" name="role" required="required"
              onchange="onChangeRole()">
        <option value="" disabled="disabled" selected="selected">Select Role</option>
        <option value="Student">Student</option>
        <option value="Admin">Admin</option>
      </select>
    </div>
    <div class="form-group" id="div-seniority" name="div-seniority" style="display:none;">
      <label for="Year">Year of Study</label>
      <select class="form-control" id="seniority" name="seniority" required="required">
        <option value="" disabled="disabled" selected="selected">Select Year of Study</option>
        <option value="1">Year 1</option>
        <option value="2">Year 2</option>
        <option value="3">Year 3</option>
        <option value="4">Year 4</option>
        <option value="5">Year 5</option>
      </select>
    </div>
    <div class="form-group" id="div-program" name="div-program" style="display:none;">
      <label for="modules">Program</label>
      <select class="form-control" id="program" name="program" required="required">
        <option value="" disabled="disabled" selected="selected">Select Program</option>
        <% programs.forEach(program => { %>
          <option value="<%= program.prog_name %>">
            <%= program.prog_name %> <%= program.prog_name %>
          </option>
        <% }); %>
      </select>
    </div>
    <div class="form-group text-center">
      <a class="d-block small mt-3" href="/login">Return to login</a>
    </div>
    <div>
      <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </div>
  </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="javascripts/modrekt.min.js"></script>

</body>





  <script>
    function onChangeRole() {
      if (document.getElementById('role').value === 'Student') {
        // Display
        document.getElementById('div-seniority').style.display = "block";
        document.getElementById('div-program').style.display = "block";
        // Compulsory to be Filled
        document.getElementById('seniority').required = "required";
        document.getElementById('program').required = "required";
      }
      else if (document.getElementById('role').value === 'Admin') {
        // Hide
        document.getElementById('div-seniority').style.display = "none";
        document.getElementById('div-program').style.display = "none";
        // Not compulsory to be Filled
        document.getElementById('seniority').required = "";
        document.getElementById('program').required = "";
      }
    }
  </script>
  <script>
    window.onmousedown = function (event) {
      var eventTarget = event.target;
      if (eventTarget.tagName.toLowerCase() === 'option' &&
              eventTarget.parentNode.hasAttribute('multiple')) {
        event.preventDefault();

        // toggle selection
        if (eventTarget.hasAttribute('selected')) {
          eventTarget.removeAttribute('selected');
        } else {
          eventTarget.setAttribute('selected', '');
        }

        // hack to correct buggy behavior
        var select = eventTarget.parentNode.cloneNode(true);
        eventTarget.parentNode.parentNode.replaceChild(select, eventTarget.parentNode);
      }
    }
  </script>
  <script>
    (function() {
      window.addEventListener('load', function() {
        var forms = [document.getElementById('register_form')];
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', check, false);
        })
      });
    })();
  </script>
</html>
